@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

/* header code starts */

header {
    background-color: #000;
    color: #fff;
    padding: 16px 0;
    border-bottom: 5px solid #FFB800
}

.container {
    width: 1144px;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_actions {
    display: flex;
    column-gap: 54;

}

.header_action_items a {
    color: #fff;
    font-size: 12px;
    padding: 0 27px;
    display: flex;
    column-gap: 5px;
    align-items: center;

}

.header_action_items:nth-child(1) a {
    border-right: 1px solid #5C6A92;


}

.header_socials {
    display: flex;
    column-gap: 19px;
}

/* header code finished */

nav{
    background-color: #F40404;
    padding: 30px 0;   /* .logo te na diye nav e keno */
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_wrapper .menu ul{
    display: flex;
    align-items: center;
    column-gap: 47px;
}
.nav_wrapper .menu ul li a{
    text-transform: capitalize;
    color: #fff;
}
.menu button{
    border: 2px solid #fff;
    background-color: #F40404;
    padding: 13px 31px;
    margin-left:163px;
}
.menu button a{
    color: #fff;
    text-transform: uppercase;
    
}

/* navbar css ends here */

.banner{
    
    height: 783px;
    width: 100%;
    color: white;
    overflow: hidden;
    background: rgba(0,0,0, 0.6);
    background: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.6)),url("images/banner.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
}  
.banner-container{
    position: relative;
}
.banner-text{ 
  position: absolute;
  top: 257px;
  left: 0px;
  color: white;
  font-weight: bold;
  font-size: 64px;
}
.banner-text p{ 
    margin-bottom: 31px;
  }
.banner-text button{
    border: none ;
    background-color: #F40404;
    padding: 13px 40px;
  

}
.banner-text button a{
    color: #fff;
    text-transform: uppercase;
    
}